$sandyWhite: #e1d9ce;
$brown: #292021;
$blue: #00c;
$red: #c00;

$defaultFontFamily: 'Palatino', serif;
$defaultFontSize: 16px;
$defaultBackgroundColor: $sandyWhite;
$defaultTextColor: $brown;
$defaultLineHeight: 1.2;

$borderRadiusSmall: 3px;
