@import '../../../styles/vars';
@import '../../../styles/mixins';

.opinions {
  .opinion {
    padding: 10px 20px;
    border: 1px solid $brown;

    & + .opinion {
      margin-top: 20px;
    }

    .opinionLink {
      @include link;
    }
  }

  .more {
    margin-top: 15px;
  }
}
