@import '../../styles/vars';
@import '../../styles/mixins';

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.createdAt {
  font-size: 12px;
  margin-top: 10px;
}
