PORT=3000
DATABASE_URL=postgresql://pudgekaramelka:unpopularopinion@localhost:5432/unpopularopinion?schema=public
JWT_SECRET=local-jwt-secret-river
PASSWORD_SAULT=local-password-sault-river
INITIAL_ADMIN_PASSWORD=1234NIUUER