@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.opinions {
  .opinion {
    padding: 10px 20px;
    border: 1px solid $brown;
    & + .opinion {
      margin-top: 20px;
    }
    .opinionLink {
      @include link;
    }
  }
}
