@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';
.title {
  @include h1;
}
.opinions {
  .opinion {
    padding: 10px 20px;
    border: 1px solid $brown;
    & + .opinion {
      margin-top: 20px;
    }

    .opinionName {
      @include h2;
      .opinionLink {
        @include link;
      }
    }
    .opinionDescription {
      font-size: 18px;
    }
  }
}
